*{margin: 0px;padding: 0px}

html, body{
	width: 100%;
	height: 100%;


}
body{
	display: flex;
	justify-content: center;
	font-family: Myriad Pro Condensed;
}

/*xu li list-icon*/
.list-icon {
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

ul.icon-bar {
    display: inline;
}

ul.icon-bar li {
    box-sizing: border-box;
    display: inline-block;
    /*border: 2px solid black;*/
    background: #636161e6;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    /*text-indent: -9999px;*/

}

ul.icon-bar li:hover, ul.icon-bar li.active{
	border: 2px solid white;
	cursor: pointer;
}



/*Xu li bo cuc*/


.slide{
 	height: 100%;
    width: 100%;
    overflow: hidden;
}
ul.slide-bar {
    position: relative;
    height: 100%;
    width: 100%;
 
    
    
}

ul.slide-bar >li {
	top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 2s;

}
ul.slide-bar >li > div.chuyentrang	 {
    width: 100%;
    height: 100%;
	position: absolute;
	
	top: 0;
    
}




.chuyentrang> .mottrang, .chuyentrang> .mottrang> .anhnen{
	height: 100%;
	width: 100%;

}
.chuyentrang>.mottrang .anhnen1{
	background-image: url(image/slide1.jpg);
	background-size: cover;
}

.chuyentrang>.mottrang .anhnen2{
    background-image: url(image/slide2.jpg);
    background-size: cover;
}
.chuyentrang>.mottrang .anhnen3{
    background-image: url(image/slide3.jpg);
    background-size: cover;
}

.chuyentrang>.mottrang{
	position: relative;
}
.chuyentrang>.mottrang>img{
	position: absolute;
	top: 0;
}

.chuyentrang>.mottrang>.text{
	position: absolute;
	top: 41%;
	width: 270px;
	height: 300px;
	left: 62px;
	color: white;
}
.chuyentrang>.mottrang>.text>h1{
	font-size: 70px;
	margin-bottom: 20px;
}
.chuyentrang>.mottrang>.text>strong{
    font-size: 27px;
    display: inline-block;
    margin-bottom: 20px;
}

.chuyentrang>.mottrang>.text>div{
    width: 102px;
    height: 5px;
    background: white;
    margin-bottom: 20px;
}

.chuyentrang>.mottrang>.text>p{
    font-size: 12px;
    margin-bottom: 35px;
}

.chuyentrang>.mottrang>.text>button{
    border: 1px solid white;
    background: none;
    padding: 10px;
    color: white;
    font-size: 7px;
    border-radius: 4px;
    display: inline-block;
    width: 90px;

}
.chuyentrang>.mottrang>.text>button:hover{
    cursor: pointer;
    background: green;
}

/*CSS of JS*/

.display-slide{
    opacity: 1!important;
    visibility: visible!important;
}

.default-display{
    opacity: 1!important;
    visibility: visible!important;
    
}

.chuyentrang>.mottrang>img.nautren{
    /*transition: 3s top, 3s right;*/
    transition: 5s;
    right: -5%;
    top: -25%;
   /* opacity: 0.5;
    animation: defaulttop 0.8s;*/
}


.chuyentrang>.mottrang>img.nauduoi1{
    
    
   /* animation: defaultbottom_lg 0.8s;
    opacity: 0.4;*/
     top: -44%;
   
}
.chuyentrang>.mottrang>img.nauduoi2 {
    top: 0;
    /*animation-name: defaultbottom_sm;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;*/
    
}


/*@keyframes defaulttop{
    from{right: -10%;top: -30%}
    to{right: -5%;top: -25%;}
}

@keyframes defaultbottom_lg{
    from{left: -60%;}
    to{left: 0%;}
}
@keyframes defaultbottom_sm{
    from{left: -50%;opacity: 0.6;}
    to{left: 0%;top: 0%;opacity: 0.6;}
}
*/


